{% extends "misago/admin/generic/form.html" %}
{% load static i18n misago_admin_form %}


{% block title %}
{% if target.pk %}
  {% trans target.get_final_title %}
{% else %}
  {% trans "New Page" context "mspp" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}

{% block page-header %}
{{ block.super }}
{% if target.pk %}
  <small>
    {{ target }}
  </small>
{% else %}
  <small>
  {% trans "New Page" context "mspp" %}
  </small>
{% endif %}
{% endblock page-header %}

{% block form-body %}
<link
    href="{% static 'misago_static_pages_plugin/css/quill.snow.css' %}"
    rel="stylesheet">

<div class="form-fieldset">
  <fieldset>

    {% form_row form.title %}
    {% form_row form.slug %}
    <div id="editor">
        {{ form.content.value|default_if_none:""|safe }}
    </div>
    
    {{ form.content.as_hidden }}
  </fieldset>
</div>

<script src="{% static 'misago_static_pages_plugin/js/quill.js' %}"></script>
<script src="{% static 'misago_static_pages_plugin/js/editor.js' %}"></script>
{% endblock %}
